{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Control Panel {% endblock %}</h1>

          <p>"Welcome to <em>IndeklimaKontrol</em> control panel! Get real-time data on air pollution levels and empower yourself to make informed decisions for a cleaner, safer environment."</p>
          <p>Click on the area in the navigation bar to view details and control ventilation.</p>
          <p>Thresholds for automatic ventilation can be set in the configutation page.</p>

    <img width="30%" src="static/8-p3cKNJ.jpg">
{% endblock %}