{% extends "base.html" %}

{% block title %} Hub Board {% endblock %}
{% block content %} 
<meta http-equiv="refresh" content="30">
<div class="container-fluid">
<h1>Sensor overview</h1>
<img class="img-fluid float-right" src='data:image/png;base64,{{esp_bat_stat}}'/>
<img class="img-fluid float-right" src='data:image/png;base64,{{humidity}}'/>
<img class="img-fluid float-right" src='data:image/png;base64,{{temperature}}'/>
<img class="img-fluid float-right" src='data:image/png;base64,{{Tvoc}}'/>
</div>
{% endblock %}